# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot

# Django
db.sqlite3
media/

# Entorno virtual (Virtual Environment)
venv/
env/
ENV/
.venv/

# Archivos de configuración del editor/IDE
.idea/
.vscode/

# Archivos de configuración de OS
.DS_Store   # macOS
Thumbs.db   # Windows

# Archivos de dependencias de Python
Pipfile.lock
poetry.lock

# Archivos de prueba y caché
*.coverage
*.pytest_cache/
nosetests.xml
coverage.xml

# Archivos sensibles
*.env

# Node.js
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor específicos
.vscode/*
!.vscode/extensions.json
.idea

# Archivos binarios y temporales de Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

